/*! CSS Used from: http://localhost/src/static/css/site_min.css ; media=all */
@media all{
    @media all{
    .owl-carousel .owl-wrapper:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
    .owl-carousel .owl-item a.car_image:before{content:'';height:100%;width:100%;position:absolute;top:0px;left:0px;background:-webkit-linear-gradient(bottom, rgba(45, 45, 45, 0.47), transparent)!important;background:-moz-linear-gradient(bottom, rgba(45, 45, 45, 0.47), transparent)!important;background:-o-linear-gradient(bottom, rgba(45, 45, 45, 0.47), transparent)!important;background:linear-gradient(to top, rgba(45, 45, 45, 0.47), transparent)!important;}
    .owl-carousel{display:none;position:relative;width:100%;-ms-touch-action:pan-y;}
    .owl-carousel .owl-wrapper{display:none;position:relative;-webkit-transform:translate3d(0px, 0px, 0px);}
    .owl-carousel .owl-wrapper-outer{overflow:hidden;position:relative;width:100%;}
    .owl-carousel .owl-item{float:left;}
    .owl-controls .owl-page{cursor:pointer;}
    .owl-controls{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);display:block!important;}
    .owl-carousel  .owl-wrapper,.owl-carousel  .owl-item{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);position:relative;}
    .owl-controls{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);display:block!important;}
    .owl-carousel  .owl-item{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);position:relative;}
    .owl-item .car_image:after{display:block;content:'';position:absolute;bottom:0px;width:100%;height:100%;left:0px;z-index:1;opacity:0;transition:all .35s;-moz-transition:all .35s;-webkit-transition:all .35s;-o-transition:all .35s;}
    .owl-item .car_image:after{height:60%;}
    .owl-item:hover .car_image:after{opacity:.8;}
    .owl-carousel .owl-item a.car_image{display:block;background:url('http://localhost/src/static/img/itemcbg.png') no-repeat top right,linear-gradient(to bottom left,rgba(0, 0, 0, 0)-50%,rgb(42, 42, 52) 70%,rgb(31, 30, 36) 100%);}
    .owl-carousel .owl-item a img{width:100%;opacity:1;transition:all .35s ease-in-out;-moz-transition:all .35s ease-in-out;-webkit-transition:all .35s ease-in-out;-o-transition:all .35s ease-in-out;}
    .owl-carousel .owl-item:hover a img{width:100%;opacity:1;}
    }
    @media all{
    .owl-theme .owl-controls{margin-top:30px;text-align:center;margin-bottom:-20px!important;}
    .owl-theme .owl-controls .owl-page{display:inline-block;zoom:1;*display:inline;}
    .owl-theme .owl-controls .owl-page span{display:block;width:30px;height:9px;margin:5px 4px;filter:Alpha(Opacity=50);opacity:0.5;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:2px;background-color:#1d1d1d;border:1px solid #000;background-image:-webkit-linear-gradient(bottom, #1a1b1f, #2a2a34);background-image:-moz-linear-gradient(bottom, #1a1b1f, #2a2a34);background-image:-o-linear-gradient(bottom, #1a1b1f, #2a2a34);background-image:radial-gradient(ellipse farthest-corner at center 0px,#31a2a6 -150%,#333240 45%,#333240 85%);-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);box-shadow:0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);}
    .owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span{filter:Alpha(Opacity=100);opacity:1;}
    }
    body a,.dropdown-menu li>a:hover{color:#eb2d1c;}
    .dropdown-menu>li>a:hover{color:#eb2d1c!important;}
    .dropdown-menu li>a:focus{color:#eb2d1c;}
    body a,body a:hover,body a:active,body a:focus,body a:visited{color:#453f4a;}
    .dropdown .caret{border-top:4px solid #ffffff!important;}
    .navbar-inverse{background-image:-webkit-linear-gradient(bottom, #d92212, #c43e2f);background-image:-moz-linear-gradient(bottom, #d92212, #c43e2f);background-image:-o-linear-gradient(bottom, #d92212, #c43e2f);background-image:linear-gradient(to top, #d92212, #c43e2f);}
    .owl-item .car_image:after{background:-webkit-linear-gradient(bottom, #d92212, transparent)!important;background:-moz-linear-gradient(bottom, #d92212, transparent)!important;background:-o-linear-gradient(bottom, #d92212, transparent)!important;background:linear-gradient(to top, #d92212, transparent)!important;}
    @media all{
    .clear{clear:both;}
    html body{font-family:'Titillium Web', sans-serif;color:#ccc;}
    body{color:#ccc;height:100%;}
    body *{outline:none;}
    img{max-width:100%;}
    #main_wrapper{overflow:hidden;z-index:2;position:relative;}
    body a{text-decoration:none;transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;-webkit-transition:all 0.35s ease-in-out;-o-transition:all 0.35s ease-in-out;cursor:pointer;font-weight:bold;}
    body a,body a:hover,body a:active,body a:focus,body a:visited{outline:none!important;text-decoration:none!important;}
    a:hover{color:#666;text-decoration:none;transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;-webkit-transition:all 0.35s ease-in-out;-o-transition:all 0.35s ease-in-out;cursor:pointer;}
    .no-padding{padding:0!important;}
    span{font-size:14px;}
    body .normal-page{z-index:0;position:relative;padding:22px;border-bottom-width:0px;padding-bottom:10px;margin-top:-6px;}
    .topbar{position:relative;z-index:3;min-height:60px;margin-top:-1px;}
    #main_menu2 li:hover > .dropdown-menu{display:block;left:auto;}
    .navbar-inner{height:70px;-webkit-transition:linear .3s;-moz-transition:linear .3s;-ms-transition:linear .3s;-o-transition:linear .3s;transition:linear .3s;background:url(http://localhost/src/static/img/menu-extra.png) top right repeat-x;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 2px 8px rgba(0,0,0,.75), inset 0 -5px rgba(0,0,0,.26);-moz-box-shadow:0 2px 8px rgba(0,0,0,.75), inset 0 -5px rgba(0,0,0,.26);box-shadow:0 2px 8px rgba(0,0,0,.75), inset 0 -5px rgba(0,0,0,.26);}
    .dropdown .caret{border:0px!important;display:none;width:auto;height:auto;line-height:normal;vertical-align:baseline;background-image:none;background-position:0% 0%;background-repeat:repeat;margin-top:0;font-family:Font Awesome\ 5 Free;font-weight:700;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;font-size:11px;margin-left:5px;}
    .dropdown .caret:before{content:"\f067";}
    footer{width:100%;position:relative;z-index:1;background:#080e14;}
    @media print{
    body{height:auto;}
    }
    .sub-menu{display:none;}
    body{font-family:Arial;}
    h3,h4,.dropdown-menu li > a{font-family:Titillium Web, sans-serif;}
    #main_menu2{list-style:none;position:relative;margin-left:1px;z-index:10;margin-top:4px;font-size:16px;z-index:2500;}
    #main_menu2 li a{position:relative;z-index:200;margin-right:15px;min-width:120px;z-index:2501;}
    #main_menu2 > li{padding:23px 0px 22px 0px;transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;-webkit-transition:all 0.35s ease-in-out;-o-transition:all 0.35s ease-in-out;display:inline-block;width:90px;}
    #main_menu2 > li > a{display:inline-block;color:white;width:120px;z-index:2502;}
    }
    @media all{
    body{margin:0;}
    footer,header,nav{display:block;}
    a{background-color:transparent;}
    a:active,a:hover{outline:0;}
    b{font-weight:bold;}
    img{border:0;}
    @media print{
    *,*:before,*:after{color:#000!important;text-shadow:none!important;background:transparent!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
    a,a:visited{text-decoration:underline;}
    a[href]:after{content:" (" attr(href) ")";}
    a[href^="#"]:after{content:"";}
    img{page-break-inside:avoid;}
    img{max-width:100%!important;}
    p,h3{orphans:3;widows:3;}
    h3{page-break-after:avoid;}
    .navbar{display:none;}
    }
    *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    *:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    body{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff;}
    a{color:#337ab7;text-decoration:none;}
    a:hover,a:focus{color:#23527c;text-decoration:underline;}
    a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
    img{vertical-align:middle;}
    h3,h4{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
    h3{margin-top:20px;margin-bottom:10px;}
    h4{margin-top:10px;margin-bottom:10px;}
    h3{font-size:24px;}
    h4{font-size:18px;}
    p{margin:0 0 10px;}
    ul{margin-top:0;margin-bottom:10px;}
    ul ul{margin-bottom:0;}
    .container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
    @media (min-width: 768px){
    .container{width:750px;}
    }
    @media (min-width: 992px){
    .container{width:970px;}
    }
    @media (min-width: 1200px){
    .container{width:1170px;}
    }
    .container-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
    .col-lg-6,.col-lg-12,.col-md-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
    @media (min-width: 768px){
    .col-lg-6,.col-lg-12{float:left;}
    .col-lg-12{width:100%;}
    .col-lg-6{width:80%;}
    }
    @media (min-width: 992px){
    .col-md-12{float:left;}
    .col-md-12{width:100%;}
    }
    @media (min-width: 1200px){
    .col-lg-6,.col-lg-12{float:left;}
    .col-lg-12{width:100%;}
    .col-lg-6{width:80%;}
    }
    .caret{display:inline-block;width:0;height:0;margin-left:2px;vertical-align:middle;border-top:4px dashed;border-top:4px solid \9;border-right:4px solid transparent;border-left:4px solid transparent;}
    .dropdown{position:relative;}
    .dropdown-menu{position:absolute;top:80%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;font-size:14px;text-align:left;list-style:none;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, .15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0, 0, 0, .175);box-shadow:0 6px 12px rgba(0, 0, 0, .175);}
    .dropdown-menu > li > a{display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:1.42857143;color:#333;white-space:nowrap;}
    .dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus{color:#262626;text-decoration:none;background-color:#f5f5f5;}
    .navbar{position:relative;min-height:50px;margin-bottom:20px;border:1px solid transparent;}
    @media (min-width: 768px){
    .navbar{border-radius:4px;}
    }
    .navbar-inverse{background-color:#222;border-color:#080808;}
    .container:before,.container:after,.container-fluid:before,.container-fluid:after,.navbar:before,.navbar:after{display:table;content:" ";}
    .container:after,.container-fluid:after,.navbar:after{clear:both;}
    }
    @media all{
    p{line-height:21px;}
    h3,h4{font-family:'Titillium Web', sans-serif;line-height:1.1;color:inherit;margin:10px 0;font-weight:500;text-rendering:optimizelegibility;color:#eee;}
    h3{margin-top:20px;margin-bottom:10px;}
    h4{margin-top:10px;margin-bottom:10px;}
    .col-lg-6,.col-lg-12,.col-md-12{padding-left:10px;padding-right:10px;}
    body .container{padding-right:0;padding-left:0;margin-right:auto;margin-left:auto;z-index:3;}
    body .navbar{min-height:0px;margin-bottom:0px;padding:0px;}
    .navbar{position:relative;margin-bottom:0;}
    .dropdown-menu{transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;border:0;padding:0 0 0 0;margin:0;background-color:#1F2225;border-right:1px solid #000!important;border-left:1px solid #000!important;border-top:1px solid #000!important;font-size:11px;}
    .dropdown-menu > li > a{display:block;padding:15px 20px 15px 20px;clear:both;font-weight:600;font-size:12px;color:#eee;white-space:nowrap;text-transform:uppercase;border-bottom:1px solid black;}
    .dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus{background-color:transparent;}
    @media (min-width:1328px){
    .container{width:1200px;}
    }
    @media (max-width:768px){
    .topbar{background-color:#000!important;}
    }
    @media (max-width:480px){
    body{background-size:cover!important;}
    }
    @media (max-width:991px){
    .col-lg-6,.col-lg-12,.col-md-12{width:100%;}
    body{background-position-y:200px;}
    body .normal-page{padding:0px 15px;}
    body .dropdown-menu{position:initial;width:100%;height:0;display:none;}
    body .dropdown-menu:hover,body .dropdown:hover .dropdown-menu{width:100%;height:auto;display:block;position:relative;left:0;}
    body{background-size:cover;}
    body footer{margin-left:-17px;width:auto;}
    body .navbar-inverse{height:auto!important;}
    }
    }
    @media all{
    .vc_row:after,.vc_row:before{content:" ";display:table;}
    .vc_row:after{clear:both;}
    .vc_column_container{width:100%;}
    .vc_row{margin-left:-15px;margin-right:-15px;}
    .vc_col-sm-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    @media (min-width:768px){
    .vc_col-sm-12{float:left;}
    .vc_col-sm-12{width:100%;}
    }
    .vc_clearfix:after,.vc_clearfix:before{content:" ";display:table;}
    .vc_clearfix:after{clear:both;}
    .vc_clearfix:after,.vc_clearfix:before{content:" ";display:table;}
    .vc_clearfix:after{clear:both;}
    .wpb_text_column :last-child{margin-bottom:0;}
    .wpb_content_element{margin-bottom:35px;}
    .vc_column-inner::after,.vc_column-inner::before{content:" ";display:table;}
    .vc_column-inner::after{clear:both;}
    .vc_column_container{padding-left:0;padding-right:0;}
    .vc_column_container>.vc_column-inner{box-sizing:border-box;padding-left:15px;padding-right:15px;width:100%;}
    }
    body a,.dropdown-menu li>a:hover{color:#eb2d1c;}
    .dropdown-menu>li>a:hover{color:#eb2d1c!important;}
    .dropdown-menu li>a:focus{color:#eb2d1c;}
    body a,body a:hover,body a:active,body a:focus,body a:visited{color:#453f4a;}
    .dropdown .caret{border-top:4px solid #ffffff!important;}
    .navbar-inverse{background-image:-webkit-linear-gradient(bottom, #d92212, #c43e2f);background-image:-moz-linear-gradient(bottom, #d92212, #c43e2f);background-image:-o-linear-gradient(bottom, #d92212, #c43e2f);background-image:linear-gradient(to top, #d92212, #c43e2f);}
    
    
    @media all{
    .clear{clear:both;}
    html body{font-family:'Titillium Web', sans-serif;color:#ccc;}
    body{color:#ccc;height:100%;}
    body *{outline:none;}
    img{max-width:100%;}
    #main_wrapper{overflow:hidden;z-index:2;position:relative;}
    body a{text-decoration:none;transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;-webkit-transition:all 0.35s ease-in-out;-o-transition:all 0.35s ease-in-out;cursor:pointer;font-weight:bold;}
    body a,body a:hover,body a:active,body a:focus,body a:visited{outline:none!important;text-decoration:none!important;}
    a:hover{color:#666;text-decoration:none;transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;-webkit-transition:all 0.35s ease-in-out;-o-transition:all 0.35s ease-in-out;cursor:pointer;}
    .no-padding{padding:0!important;}
    span{font-size:14px;}
    
    
    .topbar{position:relative;z-index:3;min-height:60px;margin-top:-1px;}
    .navbar-inner{height:70px;-webkit-transition:linear .3s;-moz-transition:linear .3s;-ms-transition:linear .3s;-o-transition:linear .3s;transition:linear .3s;background:url(http://localhost/src/static/img/menu-extra.png) top right repeat-x;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 2px 8px rgba(0, 0, 0, .75), inset 0 -5px rgba(0, 0, 0, .26);-moz-box-shadow:0 2px 8px rgba(0, 0, 0, .75), inset 0 -5px rgba(0, 0, 0, .26);box-shadow:0 2px 8px rgba(0, 0, 0, .75), inset 0 -5px rgba(0, 0, 0, .26);}
    .dropdown .caret{border:0px!important;display:none;width:auto;height:auto;line-height:normal;vertical-align:baseline;background-image:none;background-position:0% 0%;background-repeat:repeat;margin-top:0;font-family:Font Awesome\ 5 Free;font-weight:700;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;font-size:11px;margin-left:5px;}
    .dropdown .caret:before{content:"\f067";}
    footer{width:100%;position:relative;z-index:1;background:#080e14;}
    .portfolio #myCarousel img{width:100%;max-width:100%;}
    @media print{
    body{height:auto;}
    }
    #main_menu2{list-style:none;position:relative;margin-left:1px;z-index:10;margin-top:4px;font-size:16px;z-index:2500;}
    #main_menu2 li a{position:relative;z-index:200;margin-right:15px;min-width:80px;z-index:2501;}
    #main_menu2 > li{padding:23px 0px 22px 0px;transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;-webkit-transition:all 0.35s ease-in-out;-o-transition:all 0.35s ease-in-out;display:inline-block;width:90px;}
    #main_menu2 > li > a{display:inline-block;color:white;width:90px;z-index:2502;}
    .sub-menu{display:none;}
    body{font-family:Arial;}
    h3,h4,.dropdown-menu li>a{font-family:Titillium Web, sans-serif;}
    }
    @media all{
    body{margin:0;}
    footer,header,nav{display:block;}
    a{background-color:transparent;}
    a:active,a:hover{outline:0;}
    b{font-weight:bold;}
    img{border:0;}
    @media print{
    *,*:before,*:after{color:#000!important;text-shadow:none!important;background:transparent!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
    a,a:visited{text-decoration:underline;}
    a[href]:after{content:" ("attr(href) ")";}
    a[href^="#"]:after{content:"";}
    img{page-break-inside:avoid;}
    img{max-width:100%!important;}
    p,h3{orphans:3;widows:3;}
    h3{page-break-after:avoid;}
    .navbar{display:none;}
    }
    *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    *:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    body{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff;}
    a{color:#337ab7;text-decoration:none;}
    a:hover,a:focus{color:#23527c;text-decoration:underline;}
    a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
    img{vertical-align:middle;}
    .carousel-inner>.item>img{display:block;width:680px;height:100%;}
    h3,h4{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
    h3{margin-top:20px;margin-bottom:10px;}
    h4{margin-top:10px;margin-bottom:10px;}
    h3{font-size:24px;}
    h4{font-size:18px;}
    p{margin:0 0 10px;}
    ul,ol{margin-top:0;margin-bottom:10px;}
    ul ul{margin-bottom:0;}
    .container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
    @media (min-width: 768px){
    .container{width:750px;}
    }
    @media (min-width: 992px){
    .container{width:970px;}
    }
    @media (min-width: 1200px){
    .container{width:1170px;}
    }
    .container-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
    .col-lg-6{position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
    @media (min-width: 768px){
    .col-lg-6{float:left;}
    .col-lg-6{width:50%;}
    }
    @media (min-width: 1200px){
    .col-lg-6{float:left;}
    .col-lg-6{width:50%;}
    }
    .caret{display:inline-block;width:0;height:0;margin-left:2px;vertical-align:middle;border-top:4px dashed;border-top:4px solid \9;border-right:4px solid transparent;border-left:4px solid transparent;}
    .dropdown{position:relative;}
    .dropdown-menu{position:relative;top:80%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;font-size:14px;text-align:left;list-style:none;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, .15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0, 0, 0, .175);box-shadow:0 6px 12px rgba(0, 0, 0, .175);}
    .dropdown-menu>li>a{display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:1.42857143;color:#333;white-space:nowrap;}
    .dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{color:#262626;text-decoration:none;background-color:#f5f5f5;}
    .navbar{position:relative;min-height:50px;margin-bottom:20px;border:1px solid transparent;}
    @media (min-width: 768px){
    .navbar{border-radius:4px;}
    }
    .navbar-inverse{background-color:#222;border-color:#080808;}
    .carousel{position:relative;}
    .carousel-inner{position:relative;width:100%;overflow:hidden;}
    .carousel-inner>.item{position:relative;display:none;-webkit-transition:.6s ease-in-out left;-o-transition:.6s ease-in-out left;transition:.6s ease-in-out left;}
    .carousel-inner>.item>img{line-height:1;}
    @media all and (transform-3d),  	(-webkit-transform-3d){
    .carousel-inner>.item{-webkit-transition:-webkit-transform .6s ease-in-out;-o-transition:-o-transform .6s ease-in-out;transition:transform .6s ease-in-out;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-perspective:1000px;perspective:1000px;}
    .carousel-inner>.item.active{left:0;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
    }
    .carousel-inner>.active{display:block;}
    .carousel-inner>.active{left:0;}
    .carousel-control{position:absolute;top:0;bottom:0;left:0;width:15%;font-size:20px;color:#fff;text-align:center;text-shadow:0 1px 2px rgba(0, 0, 0, .6);background-color:rgba(0, 0, 0, 0);filter:alpha(opacity=50);opacity:.5;}
    .carousel-control.left{background-image:-webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);background-image:-o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);background-image:-webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));background-image:linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);background-repeat:repeat-x;}
    .carousel-control.right{right:0;left:auto;background-image:-webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);background-image:-o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);background-image:-webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));background-image:linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);background-repeat:repeat-x;}
    .carousel-control:hover,.carousel-control:focus{color:#fff;text-decoration:none;filter:alpha(opacity=90);outline:0;opacity:.9;}
    .carousel-indicators{position:absolute;bottom:10px;left:50%;z-index:15;width:60%;padding-left:0;margin-left:-30%;text-align:center;list-style:none;}
    .carousel-indicators li{display:inline-block;width:10px;height:10px;margin:1px;text-indent:-999px;cursor:pointer;background-color:#000 \9;background-color:rgba(0, 0, 0, 0);border:1px solid #fff;border-radius:10px;}
    .carousel-indicators .active{width:12px;height:12px;margin:0;background-color:#fff;}
    @media screen and (min-width: 768px){
    .carousel-indicators{bottom:20px;}
    }
    .container:before,.container:after,.container-fluid:before,.container-fluid:after,.navbar:before,.navbar:after{display:table;content:" ";}
    .container:after,.container-fluid:after,.navbar:after{clear:both;}
    }
    @media all{
    p{line-height:21px;}
    h3,h4{font-family:'Titillium Web', sans-serif;line-height:1.1;color:inherit;margin:10px 0;font-weight:500;text-rendering:optimizelegibility;color:#eee;}
    h3{margin-top:20px;margin-bottom:10px;}
    h4{margin-top:10px;margin-bottom:10px;}
    .col-lg-6{padding-left:10px;padding-right:10px;}
    body .container{padding-right:0;padding-left:0;margin-right:auto;margin-left:auto;z-index:3;}
    body .navbar{min-height:0px;margin-bottom:0px;padding:0px;}
    .navbar{position:relative;margin-bottom:0;}
    .dropdown-menu{transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;border:0;padding:0 0 0 0;margin:0;background-color:#1F2225;border-right:1px solid #000!important;border-left:1px solid #000!important;border-top:1px solid #000!important;font-size:11px;}
    .dropdown-menu>li>a{display:block;padding:15px 20px 15px 20px;clear:both;font-weight:600;font-size:12px;color:#eee;white-space:nowrap;text-transform:uppercase;border-bottom:1px solid black;}
    .dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{background-color:transparent;}
    @media (min-width:1328px){
    .container{width:1200px;}
    }
    @media (max-width:768px){
    .topbar{background-color:#000!important;}
    }
    @media (max-width:480px){
    body{background-size:cover!important;}
    }
    @media (max-width:991px){
    .col-lg-6{width:100%;}
    body{background-position-y:200px;}
    
    body .dropdown-menu{position:initial;width:100%;height:0;display:none;}
    body .dropdown-menu:hover,body .dropdown:hover .dropdown-menu{width:100%;height:auto;display:block;position:relative;left:0;}
    body{background-size:cover;}
    body footer{margin-left:-17px;width:auto;}
    body .navbar-inverse{height:auto!important;}
    }
    }
    ::-webkit-scrollbar{width:0;background:transparent;}
    ::-webkit-scrollbar-thumb{background:#FF0000;}
    body a,.dropdown-menu li>a:hover{color:#eb2d1c;}
    .dropdown-menu>li>a:hover{color:#eb2d1c!important;}
    .dropdown-menu li>a:focus{color:#eb2d1c;}
    body a,body a:hover,body a:active,body a:focus,body a:visited{color:#453f4a;}
    .dropdown .caret{border-top:4px solid #ffffff!important;}
    .navbar-inverse{background-image:-webkit-linear-gradient(bottom, #d92212, #c43e2f);background-image:-moz-linear-gradient(bottom, #d92212, #c43e2f);background-image:-o-linear-gradient(bottom, #d92212, #c43e2f);background-image:linear-gradient(to top, #d92212, #c43e2f);}
    
    @media all{
    .clear{clear:both;}
    html body{font-family:'Titillium Web', sans-serif;color:#ccc;}
    body{color:#ccc;height:100%;}
    body *{outline:none;}
    img{max-width:100%;}
    #main_wrapper{overflow:hidden;z-index:2;position:relative;}
    body a{text-decoration:none;transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;-webkit-transition:all 0.35s ease-in-out;-o-transition:all 0.35s ease-in-out;cursor:pointer;font-weight:bold;}
    body a,body a:hover,body a:active,body a:focus,body a:visited{outline:none!important;text-decoration:none!important;}
    a:hover{color:#666;text-decoration:none;transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;-webkit-transition:all 0.35s ease-in-out;-o-transition:all 0.35s ease-in-out;cursor:pointer;}
    .no-padding{padding:0!important;}
    span{font-size:14px;}
    
    .topbar{position:relative;z-index:3;min-height:60px;margin-top:-1px;}
    #main_menu2 li:hover > .dropdown-menu{display:block;left:auto;}
    .navbar-inner{height:70px;-webkit-transition:linear .3s;-moz-transition:linear .3s;-ms-transition:linear .3s;-o-transition:linear .3s;transition:linear .3s;background:url(http://localhost/src/static/img/menu-extra.png) top right repeat-x;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 2px 8px rgba(0,0,0,.75), inset 0 -5px rgba(0,0,0,.26);-moz-box-shadow:0 2px 8px rgba(0,0,0,.75), inset 0 -5px rgba(0,0,0,.26);box-shadow:0 2px 8px rgba(0,0,0,.75), inset 0 -5px rgba(0,0,0,.26);}
    .dropdown .caret{border:0px!important;display:none;width:auto;height:auto;line-height:normal;vertical-align:baseline;background-image:none;background-position:0% 0%;background-repeat:repeat;margin-top:0;font-family:Font Awesome\ 5 Free;font-weight:700;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;font-size:11px;margin-left:5px;}
    .dropdown .caret:before{content:"\f067";}
    footer{width:100%;position:relative;z-index:1;background:#080e14;}
    @media print{
    body{height:auto;}
    }
    .sub-menu{display:none;}
    body{font-family:Arial;}
    h3,h4,.dropdown-menu li > a{font-family:Titillium Web, sans-serif;}
    #main_menu2{list-style:none;position:relative;margin-left:1px;z-index:10;margin-top:4px;font-size:16px;z-index:2500;}
    #main_menu2 li a{position:relative;z-index:200;margin-right:15px;min-width:80px;z-index:2501;}
    #main_menu2 > li{padding:23px 0px 22px 0px;transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;-webkit-transition:all 0.35s ease-in-out;-o-transition:all 0.35s ease-in-out;display:inline-block;width:90px;}
    #main_menu2 > li > a{display:inline-block;color:white;width:90px;z-index:2502;}
    }
    @media all{
    body{margin:0;}
    footer,header,nav{display:block;}
    a{background-color:transparent;}
    a:active,a:hover{outline:0;}
    b{font-weight:bold;}
    img{border:0;}
    @media print{
    *,*:before,*:after{color:#000!important;text-shadow:none!important;background:transparent!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
    a,a:visited{text-decoration:underline;}
    a[href]:after{content:" (" attr(href) ")";}
    img{page-break-inside:avoid;}
    img{max-width:100%!important;}
    p,h3{orphans:3;widows:3;}
    h3{page-break-after:avoid;}
    .navbar{display:none;}
    }
    *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    *:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    body{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff;}
    a{color:#337ab7;text-decoration:none;}
    a:hover,a:focus{color:#23527c;text-decoration:underline;}
    a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
    img{vertical-align:middle;}
    h3,h4{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
    h3{margin-top:20px;margin-bottom:10px;}
    h4{margin-top:10px;margin-bottom:10px;}
    h3{font-size:24px;}
    h4{font-size:18px;}
    p{margin:0 0 10px;}
    ul{margin-top:0;margin-bottom:10px;}
    ul ul{margin-bottom:0;}
    .container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
    @media (min-width: 768px){
    .container{width:750px;}
    }
    @media (min-width: 992px){
    .container{width:970px;}
    }
    @media (min-width: 1200px){
    .container{width:1170px;}
    }
    .container-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
    .col-lg-6{position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
    @media (min-width: 768px){
    .col-lg-6{float:left;}
    .col-lg-6{width:50%;}
    }
    @media (min-width: 1200px){
    .col-lg-6{float:left;}
    .col-lg-6{width:50%;}
    }
    .caret{display:inline-block;width:0;height:0;margin-left:2px;vertical-align:middle;border-top:4px dashed;border-top:4px solid \9;border-right:4px solid transparent;border-left:4px solid transparent;}
    .dropdown{position:relative;}
    .dropdown-menu{position:absolute;top:80%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;font-size:14px;text-align:left;list-style:none;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, .15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0, 0, 0, .175);box-shadow:0 6px 12px rgba(0, 0, 0, .175);}
    .dropdown-menu > li > a{display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:1.42857143;color:#333;white-space:nowrap;}
    .dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus{color:#262626;text-decoration:none;background-color:#f5f5f5;}
    .navbar{position:relative;min-height:50px;margin-bottom:20px;border:1px solid transparent;}
    @media (min-width: 768px){
    .navbar{border-radius:4px;}
    }
    .navbar-inverse{background-color:#222;border-color:#080808;}
    .container:before,.container:after,.container-fluid:before,.container-fluid:after,.navbar:before,.navbar:after{display:table;content:" ";}
    .container:after,.container-fluid:after,.navbar:after{clear:both;}
    }
    @media all{
    p{line-height:21px;}
    h3,h4{font-family:'Titillium Web', sans-serif;line-height:1.1;color:inherit;margin:10px 0;font-weight:500;text-rendering:optimizelegibility;color:#eee;}
    h3{margin-top:20px;margin-bottom:10px;}
    h4{margin-top:10px;margin-bottom:10px;}
    .col-lg-6{padding-left:10px;padding-right:10px;}
    body .container{padding-right:0;padding-left:0;margin-right:auto;margin-left:auto;z-index:3;}
    body .navbar{min-height:0px;margin-bottom:0px;padding:0px;}
    .navbar{position:relative;min-height:none;margin-bottom:0;}
    .dropdown-menu{transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;border:0;padding:0 0 0 0;margin:0;background-color:#1F2225;border-right:1px solid #000!important;border-left:1px solid #000!important;border-top:1px solid #000!important;font-size:11px;}
    .dropdown-menu > li > a{display:block;padding:15px 20px 15px 20px;clear:both;font-weight:600;font-size:12px;color:#eee;white-space:nowrap;text-transform:uppercase;border-bottom:1px solid black;}
    .dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus{background-color:transparent;}
    @media (min-width:1328px){
    .container{width:1200px;}
    }
    @media (max-width:768px){
    .topbar{background-color:#000!important;}
    }
    @media (max-width:480px){
    body{background-size:cover!important;}
    }
    @media (max-width:991px){
    .col-lg-6{width:100%;}
    body{background-position-y:200px;}
    body .dropdown-menu{position:initial;width:100%;height:0;display:none;}
    body .dropdown-menu:hover,body .dropdown:hover .dropdown-menu{width:100%;height:auto;display:block;position:relative;left:0;}
    body{background-size:cover;}
    body footer{margin-left:-17px;width:auto;}
    body .navbar-inverse{height:auto!important;}
    }
    }
    h3,h4{font-family:'Titillium Web', sans-serif;line-height:1.1;color:inherit;margin:10px 0;font-weight:500;text-rendering:optimizelegibility;color:#eee;}
    h3{margin-top:20px;margin-bottom:10px;}
    body a,.dropdown-menu li>a:hover{color:#eb2d1c;}
    .dropdown-menu>li>a:hover{color:#eb2d1c!important;}
    .dropdown-menu li>a:focus{color:#eb2d1c;}
    body a,body a:hover,body a:active,body a:focus,body a:visited{color:#453f4a;}
    .dropdown .caret{border-top:4px solid #ffffff!important;}
    .navbar-inverse{background-image:-webkit-linear-gradient(bottom, #d92212, #c43e2f);background-image:-moz-linear-gradient(bottom, #d92212, #c43e2f);background-image:-o-linear-gradient(bottom, #d92212, #c43e2f);background-image:linear-gradient(to top, #d92212, #c43e2f);}
    
    ::-webkit-scrollbar{width:0;background:transparent;}
    ::-webkit-scrollbar-thumb{background:#FF0000;}
    ::-webkit-scrollbar{width:0;background:transparent;}
    ::-webkit-scrollbar-thumb{background:#FF0000;}
    }
    /*! CSS Used from: Embedded */
    ::-webkit-scrollbar{width:0;background:transparent;}
    ::-webkit-scrollbar-thumb{background:#FF0000;}
    /*! CSS Used fontfaces */
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:200;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbewI1Db5yciWM.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:200;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbewI1DYZyc.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:300;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbepI5Db5yciWM.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:300;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbepI5DYZyc.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:400;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPAcZTIAOhVxoMyOr9n_E7fdMbWAaxWXr0.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:400;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPAcZTIAOhVxoMyOr9n_E7fdMbWD6xW.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:600;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbe0IhDb5yciWM.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:600;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbe0IhDYZyc.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:700;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbetIlDb5yciWM.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:700;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbetIlDYZyc.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:200;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffAzHGIVzY4SY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:200;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffAzHGItzYw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:300;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffGjEGIVzY4SY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:300;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffGjEGItzYw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPecZTIAOhVxoMyOr9n_E7fdM3mDbRS.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffBzCGIVzY4SY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffBzCGItzYw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGIVzY4SY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGItzYw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:900;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffEDBGIVzY4SY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:900;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffEDBGItzYw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:200;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbewI1Db5yciWM.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:200;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbewI1DYZyc.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:300;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbepI5Db5yciWM.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:300;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbepI5DYZyc.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:400;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPAcZTIAOhVxoMyOr9n_E7fdMbWAaxWXr0.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:400;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPAcZTIAOhVxoMyOr9n_E7fdMbWD6xW.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:600;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbe0IhDb5yciWM.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:600;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbe0IhDYZyc.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:700;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbetIlDb5yciWM.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:700;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbetIlDYZyc.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:200;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffAzHGIVzY4SY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:200;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffAzHGItzYw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:300;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffGjEGIVzY4SY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:300;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffGjEGItzYw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPecZTIAOhVxoMyOr9n_E7fdM3mDbRS.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffBzCGIVzY4SY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffBzCGItzYw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGIVzY4SY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGItzYw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:900;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffEDBGIVzY4SY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:900;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffEDBGItzYw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:200;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbewI1Db5yciWM.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:200;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbewI1DYZyc.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:300;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbepI5Db5yciWM.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:300;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbepI5DYZyc.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:400;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPAcZTIAOhVxoMyOr9n_E7fdMbWAaxWXr0.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:400;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPAcZTIAOhVxoMyOr9n_E7fdMbWD6xW.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:600;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbe0IhDb5yciWM.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:600;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbe0IhDYZyc.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:700;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbetIlDb5yciWM.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:italic;font-weight:700;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPFcZTIAOhVxoMyOr9n_E7fdMbetIlDYZyc.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:200;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffAzHGIVzY4SY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:200;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffAzHGItzYw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:300;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffGjEGIVzY4SY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:300;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffGjEGItzYw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPecZTIAOhVxoMyOr9n_E7fdM3mDbRS.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffBzCGIVzY4SY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffBzCGItzYw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGIVzY4SY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGItzYw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:900;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffEDBGIVzY4SY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Titillium Web';font-style:normal;font-weight:900;src:url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffEDBGItzYw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
